@import url('https://fonts.googleapis.com/css?family=Arvo|Dosis|Muli'); 

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #55acee;
}
main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
margin: auto;
width: 100%;
height: 100vh;
}
header {
	font-family: 'Muli', sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid white;
	padding: 25px
}
.box {
	color: black;
	margin: 15px;
	text-align: center
}
.quote {
	font-family: 'Arvo', serif;
	font-size: 30px;
	color: white;
}
.quote:before {
	font-family: FontAwesome;
	content: "\f10e";
	color: red;
	font-size: 1.2em;
	opacity: 0.4;
	margin-right: 10px
}
.trigger, .tweet {
	display: inline-block;
	width: 250px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: transparent;
	border: 1px solid white;
	align-items: center;
	font-family: 'Muli', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	outline: none;
	cursor: pointer;
	margin-top: 25px;
	font-size: 15px;
	text-align: center;
}
.tweet {
	text-decoration: none;
}
.trigger:hover, .tweet:hover {
	transform: scale(1.1);
	transition: 0.7s
}
.author {
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size: 1.2em;
	letter-spacing: 2px
}
div {
	display: flex;
	flex-direction: column;
}